{% extends 'dashboard.html' %}

{% block title %}All Transactions{% endblock title %}

{% block body %}


<div class="container bg-dark">
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        {% if obj_income|length == 0 %}
        <div class="card-header">Present Month</div>
        {% else %}
          {% for obj in obj_income %}
            <div class="card-header">{{obj.date}}, {{obj.time}}</div>
          {% endfor %}  
        {% endif %}        
        <div class="card-body">
          <h5 class="card-title">Salary</h5>
          {% if obj_income|length == 0 %}
          <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              <p class="card-text">No Data</p> 
            </div>
          </div>                   
          {% else %}
            {% for obj in obj_income %}
              {% if obj.amount %}
              <p class="card-text">Rs.{{obj.amount}}/-</p>
              <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                  <use xlink:href="#check-circle-fill"/>
                </svg>
                <div>
                  Up-to-date!!!
                </div>                
              </div>              
              {% else %}
              <p class="card-text">Rs.0/-</p>
              {% endif %} 
            {% endfor %}  
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        {% if obj_income|length == 0 %}
        <div class="card-header">Present Month</div>
        {% else %}
          {% for obj in obj_income %}
            <div class="card-header">{{obj.date}}, {{obj.time}}</div>
          {% endfor %}  
        {% endif %} 
        <div class="card-body">
          <h5 class="card-title">End of Month</h5>
          <p class="card-text">Rs.{{end_of_month}}/-</p>
          <form method="POST">
            {% csrf_token %}
            {% if updated == 'False' %}
              <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" name="submit" class="btn btn-default bg-warning" value="add">Add Rs.{{end_of_month}}/-</button>
              </div>
            {% elif updated == 'update' %} 
              <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  Please update!!!
                </div>
              </div>
              <div class="d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-default bg-warning" data-bs-toggle="modal" data-bs-target="#updateModal">Update Rs.{{end_of_month}}/-</button>            
              </div>

              <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="updateModalLabel">Update the End of Month</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      The present end of month Rs.{{end_of_month}} mismatch with database end of month Rs.{{end_of_month_now}} 
                      <input type="number" name="end_of_month" required="" id="id_end_of_month" value="{{end_of_month}}" class="invisible">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" name="submit" class="btn btn-default bg-warning" value="update">Save change Rs.{{end_of_month}}/-</button>                  
                    </div>
                  </div>
                </div>
              </div>          
            {% else %}
              <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                  Up-to-date!!!
                </div>
              </div>           
            {% endif %}          
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card bg-danger text-light">
        <div class="card-header">Overall</div>
        <div class="card-body">
          <h5 class="card-title">Total Expenditure</h5>
          <p class="card-text">Rs.{{total_debit}}/-</p>
          {% if total_debit > end_of_month %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                Over limit!!!
              </div>
            </div>      
          {% else %}
            <div class="alert alert-warning d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                Under limit !!!!
              </div>
            </div>
          {% endif %}           
        </div>
      </div>
    </div> 

    <div class="col">
      <div class="card bg-success text-light">
        <div class="card-header">Total</div>
        <div class="card-body">
          <h5 class="card-title">End of Month</h5>
          <p class="card-text">{% if total_eom %} Rs.{{total_eom}}/- {% else %} Rs.{{end_of_month}}/- {% endif %}</p>
          {% if updated == 'False' %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                Not Updated !!!
              </div>
            </div>               
          {% else %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
              <div>
                Up-to-date!!!
              </div>
            </div>       
          {% endif %}        
        </div>
      </div>
    </div>
  </div>

  
  <div class="accordion w-auto mt-5 border-dark" id="accordionPanelsStayOpenExample"> 

    <div class="accordion-item border-dark">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
          <span class="material-icons md-36 m-2">
          table_view
          </span> 
          Table - This month expenses
          <a href="/download_csv" class"mx-2"><span class="material-icons btn btn-outline-success btn mx-2 shadow">file_download</span></a>          
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionpanelsStayOpenExample">
                         
        <div class="accordion-body">
            <a name="download_csv" id="download_csv" class="btn btn-outline-success btn-sm mx-2 my-3 shadow-sm" 
              href="/download_csv" role="button">Download CSV</a>
             
          <div class="row px-2 py-2">
            <div class="col">
                <table class="table border border-light">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Cost</th>
                      <th>Date of purchase</th>
                      <th>Time of purchase</th>
                      <th>Comments</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for expenses in page_obj %}
                    <tr>
                      <td>{{ expenses.name|capfirst }}</td>
                      <td>{{ expenses.type|capfirst }}</td>
                      <td>{{ expenses.cost|capfirst }}</td>
                      <td>{{ expenses.date }}</td>
                      <td>{{ expenses.time }}</td>
                      <td>{{ expenses.comment|capfirst }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                <ul class="pagination justify-content-center">
                  {% if page_obj.has_previous %}
                    <li><a class="btn btn-outline-dark mb-4" href="?page=1">First</a></li>
                    <li><a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}"> << </a></li>
                  {% endif %}
                  {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                      <li><a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                      <li><a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                    <li><a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}"> >> </a></li>
                    <li><a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}"> Last </a></li>
                  {% endif %}
                </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="accordion-item border-dark">
      <h2 class="accordion-header" id="panelsStayOpen-headingzero">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsezero" aria-expanded="false" aria-controls="panelsStayOpen-collapsezero">
          <span class="material-icons md-36 m-2">
          assessment
          </span>  
          Category wise expenses
        </button>
      </h2>
      <div id="panelsStayOpen-collapsezero" class="accordion-collapse collapse show border-dark" aria-labelledby="panelsStayOpen-headingzero" data-bs-parent="#accordionpanelsStayOpenExample">
        <div class="accordion-body border-dark">
          <div class="row">
            <div class="col d-sm-none d-md-block">
              {{graph_category_wise_this_month|safe}}
            </div>
            <div class="col">
              <table class="table table-striped border border-light ">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Expenses</th>
                  </tr>
                </thead>
                <tbody>
                {% for x,y in category_wise_monthly_exp %}
                  <tr>
                    <td>{{ x }}</td>
                    <td>{{ y }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>   
        </div>
      </div>
    </div> 

    <div class="accordion-item border-dark">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          <span class="material-icons md-36 m-2">
          table_view
          </span> 
          Table - overall expenses
          <a href="/download_csv_all" class="mx-2"><span class="material-icons btn btn-outline-success btn m-2 shadow">file_download</span></a>          
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo" data-bs-parent="#accordionpanelsStayOpenExample">
                         
        <div class="accordion-body border-dark">
            <a name="download_csv_all" id="download_csv_all" class="btn btn-outline-success btn-sm mx-2 my-3 shadow-sm" 
              href="/download_csv_all" role="button">Download CSV</a>
          <div class="row px-2 py-2">
            <div class="col">
                <table class="table table-striped border border-light">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Cost</th>
                      <th>Date of purchase</th>
                      <th>Time of purchase</th>
                      <th>Comments</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for expenses in page_obj_1 %}
                    <tr>
                      <td>{{ expenses.name|capfirst }}</td>
                      <td>{{ expenses.type|capfirst }}</td>
                      <td>{{ expenses.cost|capfirst }}</td>
                      <td>{{ expenses.date }}</td>
                      <td>{{ expenses.time }}</td>
                      <td>{{ expenses.comment|capfirst }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                <ul class="pagination justify-content-center">
                  {% if page_obj_1.has_previous %}
                    <li><a class="btn btn-outline-dark mb-4" href="?page=1">First</a></li>
                    <li><a class="btn btn-outline-dark mb-4" href="?page={{ page_obj_1.previous_page_number }}"> << </a></li>
                  {% endif %}
                  {% for num in page_obj_1.paginator.page_range %}
                    {% if page_obj_1.number == num %}
                      <li><a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > page_obj_1.number|add:'-3' and num < page_obj_1.number|add:'3' %}
                      <li><a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if page_obj_1.has_next %}
                    <li><a class="btn btn-outline-dark mb-4" href="?page={{ page_obj_1.next_page_number }}"> >> </a></li>
                    <li><a class="btn btn-outline-dark mb-4" href="?page={{ page_obj_1.paginator.num_pages }}"> Last </a></li>
                  {% endif %}
                </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          <span class="material-icons md-36 m-2">
          assessment
          </span>             
          End of Month/overall Savings
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree" data-bs-parent="#accordionpanelsStayOpenExample">
        <div class="accordion-body">
            <div class="row">
              <div class="col d-sm-none d-md-block">
              {{ graph_total_eom|safe }}
              </div>
              <div class="col">
                <table class="table table-striped border border-light">
                  <thead>
                    <tr>
                      <th>End of month</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for obj in obj_eom_rev %}
                      <tr>
                        <td>{{obj.end_of_month}}</td>
                        <td>{{obj.date}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>                
              </div>                               
            </div>
        </div>
      </div>
    </div>  

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingfour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsefour" aria-expanded="false" aria-controls="panelsStayOpen-collapsefour">
          <span class="material-icons md-36 m-2">
          assessment
          </span>             
          All expenses graph
        </button>
      </h2>
      <div id="panelsStayOpen-collapsefour" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingfour" data-bs-parent="#accordionpanelsStayOpenExample">
        <div class="accordion-body">
            <div class="row">
              <div class="col">
              {{ graph_category_wise_overall_pie|safe }}
              </div>              
              <div class="col">
                <table class="table table-striped border border-light">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Expenses</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for x,y in category_wise_overall %}
                    <tr>
                      <td>{{ x }}</td>
                      <td>{{ y }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>             
            </div>
        </div>
      </div>
    </div>  

  </div>    
 

</div>

{% endblock body %}