<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href=" {% static 'style.css' %} ">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title> {% block title %}Dashboard{% endblock title %}</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <span class="navbar-brand m-2 material-icons md-24" class="">savings</span>
      <a class="navbar-brand m-2" href="/">Budget </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="all_transactions">All Transactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sip">SIP</a>
          </li>     
          <li class="nav-item">
            <a class="nav-link" href="calc">Calculator</a>
          </li>                
        </ul>
      </div>
    </div>
  </nav>
  {% block body %}
<!--<div class="container px-2 py-2 mt-2">-->
<div class="container">

  <div class="accordion accordion-flush mt-2" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <span class="material-icons orange600 md-36 m-2">
          article
          </span>           
          Income Form - Click here to fill your income
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

          <div class="row bg-primary w-auto align-items-start rounded">
            <div class="col mt-3">
              <form method='POST'>
              {% csrf_token %}
              <h4 class="text-light text-center mb-5 font-monospace text-decoration-underline mt-3">This month Income...</h4>
                <div class="mb-4 mx-2">
                  <label for="id_name" class="form-label text-light font-monospace fw-bolder">Name</label>
                  <p>{{form_income.name}}</p>
                  <label for="id_amount" class="form-label text-light font-monospace fw-bolder">Amount</label>
                  <p>{{form_income.amount}}</p>
                  <label for="id_comment" class="form-label text-light font-monospace fw-bolder">Comment</label>
                  <p>{{form_income.comment}}</p>
                  <center>
                    <button type="submit" class="btn btn-light bg-warning font-monospace fw-bolder">Save</button>
                  </center>]
                  {% if success %}
                  <div class="alert alert-success mt-3" role="alert">
                    {{success_income}}
                  </div>
                  {% endif %}
                </div>
              </form> 
            </div>
            <div class="col mb-3 mx-2">
              <h3 class="text-light text-center mb-2 mt-3 font-monospace text-decoration-underline">Income</h3>
              {% for obj in obj_income %}
              <div class="text-light font-monospace border border-success border-4 mb-2">
                <p class="px-2 mt-2">Budget of {{obj.name}}, amounting Rs.{{obj.amount}}/- as of {{obj.time}},{{obj.date}}.</h3>
                <p class="px-2 mt-2">Comments >> {{obj.comment}}</h3>
              </div>
              {% endfor %}
            </div>        
          </div>  

        </div>
      </div>
    </div>
  </div>

  <!--<div class="row gx-5 gy-5 bg-dark w-auto align-items-start">-->
  <div class="row bg-dark mt-2 rounded">
    <div class="col">
      <h4 class="text-light text-center my-5 font-monospace text-decoration-underline">This month Expenses...</h4>    
      <form method='POST' class="ms-2">
      {% csrf_token %}
        <div class="mb-5">
          <label for="id_name" class="form-label text-light font-monospace fw-bolder">Expense name</label>
          <p>{{form_expenses.name}}</p>
          <label for="id_type" class="form-label text-light font-monospace fw-bolder">Type</label>
          <p>{{form_expenses.type}}</p>
          <label for="id_necessity" class="form-label text-light font-monospace fw-bolder">Necessity</label>
          <p>{{form_expenses.necessity}}</p>            
          <label for="id_cost" class="form-label text-light font-monospace fw-bolder">Cost</label>
          <p>{{form_expenses.cost}}</p>
          <label for="id_comment" class="form-label text-light font-monospace fw-bolder">Comment</label>
          <p>{{form_expenses.comment}}</p>
          <center>
            <button type="submit" class="btn btn-light bg-warning font-monospace fw-bolder">Save</button>
          </center>
          {% if success_expenses %}
          <div class="alert alert-success mt-3" role="alert">
            {{success_expenses}}
          </div>
          {% endif %}
        </div>
      </form> 
    </div>

    <div class="col">
      <h3 class="text-light text-center m-5 font-monospace text-decoration-underline">Expenses</h3>     
      {% for obj in page_obj %}
      <div class="text-light font-monospace border border-danger border-4 mb-2">
        <p class="px-2 mt-2">Expense: {{obj.name}} || cost : Rs.{{obj.cost}}/-</p>
        <p class="px-2 mt-1">Time:{{obj.time}}||Date:{{obj.date}}.</p>
        <p class="px-2 mt-1">Comments >>{{obj.comment}}</p>        
      </div>
      {% endfor %}
      
      <nav aria-label="Page navigation" class="position-relative">
        <ul class="pagination position-absolute top-0 start-50 translate-middle-x border-light">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link text-dark" href="?page=1">First</a></li>            
          <li class="page-item">
            <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="page-item"><a class="page-link text-dark" href="?page={{ num }}">{{ num }}</a></li>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item"><a class="page-link text-dark" href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}            
        {% endfor %}
        {% if page_obj.has_next %}              
          <li class="page-item">
            <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link text-dark" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        {% endif %}              
        </ul>
      </nav>
    </div>

  </div>  
  
</div>


  {% endblock body %}
  <!--alert icons-->
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
		<script src="js/three.js"></script>
    <script>
			// Our Javascript will go here.
		</script>    
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
    -->
  </body>
</html>
