{% extends 'dashboard.html' %} {% block body %}

<div class="container p-4">
  <div class="accordion my-2" id="accordionExample">
    {% comment %} First item {% endcomment %}
    <div class="accordion-item my-2 bg-dark rounded-5 border-0">
      <h2 class="accordion-header rounded-5">
        <button
          class="accordion-button collapsed p-4 rounded-5"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Add SIP
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div
            class="row text-white w-auto align-items-start border border-3 border-danger rounded-3"
          >
            <h1 class="display-6 text-center mt-3">ADD SIP</h1>
            {% comment %} Form to add SIP data {% endcomment %}
            <div class="col p-4">
              <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="id_sip_platform_name" class="form-label"
                    >*Sip platform name:</label
                  >
                  {{form_sip.sip_platform_name}}
                </div>
                <div class="mb-3">
                  <label for="id_sip_product_name" class="form-label"
                    >*Sip product name:</label
                  >
                  {{form_sip.sip_product_name}}
                </div>
                <div class="mb-3">
                  <label for="id_amount" class="form-label">Amount:</label>
                  <input
                    type="number"
                    class="form-control"
                    name="amount"
                    required=""
                    id="id_amount"
                  />
                </div>
                <div class="mb-3">
                  <label for="id_sip_product_name" class="form-label"
                    >Date:</label
                  >
                  {{form_sip.sip_date}}
                </div>
                <div class="mb-3">
                  <label for="id_comment" class="form-label">Comment:</label>
                  <textarea
                    name="comment"
                    class="form-control"
                    cols="20"
                    rows="5"
                    id="id_comment"
                  ></textarea>
                </div>
                <button
                  type="submit"
                  name="save_sip"
                  class="btn btn-sm btn-warning m-2"
                >
                  Save
                </button>
              </form>
            </div>
            {% comment %} Form to add SIP platform and product {% endcomment %}
            <div class="col p-4">
              <form method="POST">
                {% csrf_token %}
                <div id="emailHelp" class="form-text">
                  *Fill the below forms if they are not available to select in
                  ADD SIP
                </div>
                <div class="mb-3">
                  <label for="id_sip_platformname" class="form-label"
                    >Platform name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="sip_platformname"
                    maxlength="250"
                    required=""
                    id="id_sip_platformname"
                    placeholder="Eg., Grow, Upstox, Zerodha,..."
                  />
                  <button
                    type="submit"
                    name="save_platform"
                    class="btn btn-sm btn-warning m-2"
                  >
                    Save
                  </button>
                </div>
              </form>
              <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="id_sip_productname" class="form-label"
                    >Product name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="sip_productname"
                    maxlength="250"
                    required=""
                    id="id_sip_productname"
                    placeholder="Eg., ICICI, TATA..."
                  />
                  <button
                    type="submit"
                    name="save_product"
                    class="btn btn-sm btn-warning m-2"
                  >
                    Save
                  </button>
                </div>
              </form>
              {% if msg|length != 0 %}
              <div
                class="alert alert-success alert-dismissible fade show"
                role="alert"
              >
                <strong>{{msg}}</strong>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} Second item {% endcomment %}
    <div class="accordion-item my-2 bg-dark rounded-5 border-0">
      <h2 class="accordion-header rounded-5">
        <button
          class="accordion-button collapsed p-4 rounded-5"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          SIP Records
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div
            class="p-2 w-auto align-items-start border border-3 border-danger rounded-3"
          >
            <table class="table text-light bg-dark">
              <thead>
                <tr class="text-center">
                  <th scope="col">Platform</th>
                  <th scope="col">Product</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Date</th>
                  <th scope="col">Comment</th>
                </tr>
              </thead>
              <tbody>
                {% for item in obj_sip %}
                <tr class="text-center">
                  <td>{{item.sip_platform_name}}</td>
                  <td>{{item.sip_product_name}}</td>
                  <td>Rs. {{item.amount}}/-</td>
                  <td>{{item.sip_date}}</td>
                  {% if item.comment|length == 0 %}
                  <td class="text-center">-</td>
                  {% else %}
                  <td>{{item.comment}}</td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% comment %} Third item {% endcomment %}
    <div class="accordion-item my-2 bg-dark rounded-5 border-0">
      <h2 class="accordion-header rounded-5">
        <button
          class="accordion-button collapsed p-4 rounded-5"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          SIP Platforms and Products
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          {% comment %} SIP Products table {% endcomment %}
          <div
            class="row w-auto align-items-start border border-3 border-danger rounded-3"
          >
            <div class="col">
              <table class="table text-white">
                <caption style="display:none;">SIP Products</caption>
                <thead>
                  <tr class="text-center">
                    <th scope="col">Products</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in obj_product %}
                  <tr class="text-center">
                    <td>{{item.sip_productname}}</td>
                  </tr>
                  {% empty %}
                  <tr class="text-center">
                    <td>No data</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% comment %} Platform table`` {% endcomment %}
            <div class="col">
              <table class="table text-white">
                <caption style="display:none;">SIP Platforms</caption>
                <thead>
                  <tr>
                    <th scope="col" class="text-center">
                      Platforms
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in obj_platform %}
                  <tr class="text-center">
                    <td>{{item.sip_platformname}}</td>
                  </tr>
                  {% empty %}
                  <tr class="text-center">
                    <td>No data</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
